{% extends "base.html" %}
{% load static %}


{% block links %} 
<link rel="stylesheet" href="{% static 'css/components/projects.css' %}">
{% endblock links %}

{% block title %}projects{% endblock title %}



{% block body %}

<section class="project-section-container">
    <header class="project-section-header">
        <h1>The Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel arcu commodo, sodales nibh sed, efficitur sapien.</p>
    </header>

    <main class="project-section-content">

        <div class="project-blog-card">
            <a href="">
                <img src="https://images.unsplash.com/photo-1501631259223-89d4e246ed23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1960&amp;q=80" >
            </a>

            <div class="project-blog-card-info">
            
                <div class="card-info-date">23 Sep 2020</div>
                
                <h2 class="card-info-title">Lorem ipsum consectetur adipisicing elit.</h2>

                <p class="card-info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente in delectus vero doloribus maxime aliquid quibusdam aut ea ex, laboriosam accusamus beatae, quidem voluptatum accusantium quos, provident dolores nulla!</p>
                
                <a href="/" class=" card-info-footer">Read article <svg class=" ml-2" height="16px" width="16px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path></svg></a>

            </div>
        </div>
        <div class="project-blog-card">
            <a href="">
                <img src="https://images.unsplash.com/photo-1501631259223-89d4e246ed23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1960&amp;q=80" >
            </a>

            <div class="project-blog-card-info">
            
                <div class="card-info-date">23 Sep 2020</div>
                
                <h2 class="card-info-title">Lorem ipsum consectetur adipisicing elit.</h2>

                <p class="card-info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente in delectus vero doloribus maxime aliquid quibusdam aut ea ex, laboriosam accusamus beatae, quidem voluptatum accusantium quos, provident dolores nulla!</p>
                
                <a href="/" class=" card-info-footer">Read article <svg class=" ml-2" height="16px" width="16px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path></svg></a>

            </div>
        </div>
        <div class="project-blog-card">
            <a href="">
                <img src="https://images.unsplash.com/photo-1501631259223-89d4e246ed23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1960&amp;q=80" >
            </a>

            <div class="project-blog-card-info">
            
                <div class="card-info-date">23 Sep 2020</div>
                
                <h2 class="card-info-title">Lorem ipsum consectetur adipisicing elit.</h2>

                <p class="card-info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente in delectus vero doloribus maxime aliquid quibusdam aut ea ex, laboriosam accusamus beatae, quidem voluptatum accusantium quos, provident dolores nulla!</p>
                
                <a href="/" class=" card-info-footer">Read article <svg class=" ml-2" height="16px" width="16px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path></svg></a>

            </div>
        </div>
        <div class="project-blog-card">
            <a href="">
                <img src="https://images.unsplash.com/photo-1501631259223-89d4e246ed23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1960&amp;q=80" >
            </a>

            <div class="project-blog-card-info">
            
                <div class="card-info-date">23 Sep 2020</div>
                
                <h2 class="card-info-title">Lorem ipsum consectetur adipisicing elit.</h2>

                <p class="card-info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente in delectus vero doloribus maxime aliquid quibusdam aut ea ex, laboriosam accusamus beatae, quidem voluptatum accusantium quos, provident dolores nulla!</p>
                
                <a href="/" class=" card-info-footer">Read article <svg class=" ml-2" height="16px" width="16px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path></svg></a>

            </div>
        </div>


    </main>
</section>

{% endblock body %}